body { 
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-materia {
    text-align: center;
    padding: 20px;
    color: white;
}

footer {
    text-align: center;
    color: white;
}

#botao-cadastrar {
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    border: none;
    background-color: #3498db;
    cursor: pointer;
}

#botao-cadastrar:hover {
    background-color: #0056b3;
}

.botao {
    text-align: center;
    padding: 20px;
}

.topo {
    background-color: #3498db;
    margin: 0 auto;
    width: 400px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px;
}

.parte-azul-clara {
    background-color:   whitesmoke;
    margin: 0 auto;
    width: 400px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}


#nome-materia, #nome-assunto {
    width: 90%;
    border-radius: 50px;
    padding: 5px;
    margin: 5px 0;
    border: none;
    outline: none;
}
