/* footer p{
    text-align: center;
    color: black;
} */
main {
    text-align: center;
    padding: 100px;
}

body {
    height: 100vh;              
    margin: 0;                 
    display: flex;              
    justify-content: center;    
    align-items: center;        
    background-color: #0C0058;
    color: whitesmoke;     
}
  
.login{
    /* background-color: #D52D5D;
    padding: 2px;
    color: whitesmoke; */

    /* border: 10px #D52D5D; padding: 2px;  */
    color: whitesmoke;
    align-items: center;
    background-color: #d52d5d; 
    padding: 10px;           
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.cadastro{
    color: whitesmoke;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #554c8a;
}

.campo-escrita{
    border-radius: 20px;
}

.botao{
    border-radius: 50px;
}