body{
    background-color: #2c3e50;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastrar-usuario{
    padding: 10px; 
    color: whitesmoke;
    background-color: #3498db;
    text-align: center;
    width: 300px;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }

.cadastro{
    padding: 8px;
    background-color:   whitesmoke;
    color: black;
    width: 300px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.campo-cadastro-usuario{
    border-radius: 50px;
    resize: none;
} 

.botao{
    border-radius: 50px;
}
