
body {
    font-family: Arial, sans-serif;
    
    background-color: #2c3e50; 
    color: #333;
    margin: 0;
    padding-top: 56px; 
}


#main-navbar {
    background-color: #3498db !important; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#titulo-nav {
    font-size: 1.5rem;
    font-weight: bold;
}


#main-navbar .nav-link, #main-navbar .navbar-brand {
    color: white !important;
}


#main-content {
    
    padding-top: 2rem; 
    padding-bottom: 2rem;
}

#generator-form {
    
    border: none;
    background-color: white;
    padding: 30px !important;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.form-label {
    font-weight: bold;
    color: #333;
}

.custom-select-lg,
.custom-textarea-lg {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; 
    height: auto !important;
}

.custom-textarea-lg {
    resize: vertical;
}


.custom-btn-gerar {
    width: 100%;
    padding: 15px;
    background-color: #3498db; /* Azul primário para o botão */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-btn-gerar:hover {
    background-color: #2980b9; 
}


#campo-imagem {
   
    min-height: 400px; 
}

#imagemContainer {
    
    min-height: 400px;
    background-color: #ecf0f1; /* Fundo cinza claro */
    border: 2px solid #3498db; 
    border-radius: 8px;
    color: #95a5a6;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

#imagemContainer img {
    margin-top: 0;
    max-width: 100%;
    max-height: 100%; /* Garante que a imagem se ajuste ao container */
    border-radius: 6px;
    object-fit: contain; /* Garante que a imagem inteira seja visível */
}