body{
    /* background-color: #004aad; */
    background-color: #0c0058;
    justify-content: center;
}

.cadastro-materia{
    text-align: center;
    padding: 30px;
    color: white;
    
}

footer{
    text-align: center;
    color: white;
}

#botao-cadastrar{
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    border: none;
}

.botao{
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.topo{
    background-color: #d52d5d;
    margin-top: 110px;
    margin-right: 250px;
    margin-left: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.parte-azul-clara{
    justify-content: center;
    background-color: #554c8a;
    margin-right: 250px;
    margin-left: 250px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#nome-materia, #nome-assunto{
    border-radius: 50px;
    resize: none;
}